        :root {
            font-size: 62.5%;

        }

        body {
            margin: auto;
            font-size: 2rem;
        }



        .splash{
        background: url(5563415c-7059-11e8-b1d3-9161aa45bf67_4000x1584_103556.webp);
        background-position:bottom;
        background-size: 80em;

        }

        .container {
            display: grid;
            height: 300vh;
            grid-template: 150px 150px 1fr 100px 3fr 150px/1fr 900px 1fr;

            background-color: beige;
        }


        .nav {
            z-index: 1;
            grid-area: 1/1/1/4;
            background-color: #faf0a4;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;

            display: grid;
            grid-template: 1fr 1fr/ 1fr;


        }

        .nav p {
            grid-area: 1/1/1/1;
            margin-top: 1rem;

        }
        .nav label {
            grid-area: 1/1/1/1;
            margin-top: 1rem;

        }

        .menu {
            grid-area: 2/1/2/1;
            margin-top: 2rem;
             transition: 1s;
        }

        a{
            color: #052951;
            text-decoration:none;
            padding: 5rem;
            transition: 0.3s;


        }

       a:hover{
           color: #3e97f8;
            text-decoration:underline;

        }

        .splash {
            background-color: #455186;
            grid-area: 2/1/4/4;
            order: 2;
        }





        .splashInfo {
            grid-area: 3/2/5/2;
            background: rgba(39, 165, 221, 0.7);
            z-index: 1;
        }



        .splashInfo p {
            color: #ffffff;
            font-size: 3rem;
            line-height: 5rem;
            padding: 2rem;
        }

        .splashInfo h3{
            font-weight: 100;
            color: #ffffff;
        }

        .main {
            background-color: #de3656;
            grid-area: 4/1/6/4;
            order: 2;

        }

        .main h4 {
            font-weight: 100;
        }

        .main p {
            font-size: 2rem;
            line-height: 2
        }

        .content4 p {
            font-size: 3rem;
        }

        .containerMain {
            display: grid;
            height: 100%;
            grid-gap: 3rem;
            grid-template: 100px 100px 450px 500px 1fr/ 1fr 2fr 2fr 2fr 1fr

        }

        .mainHeadline{
            grid-area: 2/2/2/2;
        }

        .content1 {
            grid-area: 3/3/3/2;
            background-color: #ebc440;
        }

        .content2 {
            grid-area: 3/3/3/3;
            background-color: #47eb40;
        }

        .content3 {
            grid-area: 3/4/3/4;
            background-color: #18ffff;
        }

        .content4 {
            grid-area: 4/2/4/5;
            background-color: #442f7c;
        }


        .footer {
            z-index: 0;
            background-color: #413b41;
            grid-area: 6/1/6/4;
            order: 2;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        label {
        display: none;
        cursor: pointer;
    }

    #toggle {
        display: none;
        }

.mainHeadline{
    visibility: collapse;
}

@media only screen and (max-width: 1280px) {

    .nav {
            z-index: 1;
            grid-area: 1/1/1/4;
            background-color: #ffe419;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;


        }

    a{
            color: #052951;
            text-decoration:none;
            padding: 2rem;
            transition: 0.3s;


        }

    .containerMain {
            display: grid;
            height: 100%;
            grid-gap: 1rem;
            grid-template: 100px 100px 350px 500px 1fr/ 0.2fr 3fr 3fr 3fr 0.2fr

        }

     .container {
            display: grid;
            height: 300vh;
            grid-template: 150px 150px 1fr 100px 3fr 150px/1fr 700px 1fr;

            background-color: beige;
        }
    .main p {
            font-size: 2rem;
            line-height: 1.2
        }

    .content4 p {

        font-size: 3rem;
            line-height: 2
    }

}

@media only screen and (max-width: 767px) {

        .nav {
            z-index: 1;
            grid-area: 1/1/1/4;
            background-color: #5dd129;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;

            display: grid;
            grid-template: 1fr 1fr/100px 1fr 100px;
            border-bottom: 1px solid rgb(5, 41, 81);


        }




        .nav p {
            font-size: 2rem;
            grid-area: 1/2/1/2;
            margin-top: 3rem;
            margin-bottom: 0;


        }

         label {
        display: block;
        cursor: pointer;
    }



         .menu {
            display: none;
        text-align: center;
        width: 100%;
             grid-area: 2/1/2/4;
             background-color: white;
        }


        .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

        }

        .main p {
            font-size: 2rem;
            line-height: 2
        }

         #toggle:checked ~ .menu{
             display: block;


    }

         #toggle {
        display: none;
        }


        .container {
            display: grid;
            height: 370vh;
            grid-template: 90px 200px 0.5fr 100px 1.5fr 150px/1fr;

            background-color: beige;
        }

        .splashInfo {
            grid-area: 3/1/5/4;
            background: rgba(39, 165, 221, 0.7);
            z-index: 1;
        }

        .main {
            background-color: #de3656;
            grid-area: 4/1/6/4;
            order: 2;

        }

    .splash {
        background-size: 100em;
    }



        .containerMain {
            display: grid;
            height: 100%;
            margin: 1rem;
            grid-gap: 1rem;

            grid-template:  170px 1fr 1fr 1fr 1.5fr/ 1fr

        }

        .mainHeadline{
        grid-area: 1/1/1/1;
        visibility: collapse;
        }

        .content1 {

            grid-area: 2/1/2/1;
            background-color: #ebc440;
        }

        .content2 {
            grid-area: 3/1/3/1;
            background-color: #47eb40;
        }

        .content3 {
            grid-area: 4/1/4/1;
            background-color: #18ffff;
        }

        .content4 {
            grid-area: 5/1/5/1;
            background-color: #442f7c;
            margin-bottom: 2rem
        }




        .footer {
            z-index: 0;
            background-color: #413b41;
            grid-area: 6/1/6/4;
            order: 2;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        .content4 p {

        font-size: 3rem;
            line-height: 2
    }
}

body{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Libre Baskerville', serif;
}

.nav{
    background-color: #ffffff
}

.main{

   background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255) 70.71%)

}

.content1{
  background-color:  #EBF6FC
}

.content2{
    background-color: #D5EDFA
}

.content3{
    color: white;
    background-color: #052951
}

.content4{
    background-color: #D5EDFA
}

.footer{
    color: white;
    background-color: rgb(5, 41, 81)
}
