        :root {
            font-size: 62.5%;

        }

        body {
            margin: auto;
            font-size: 2rem;
        }



        .container {
            display: grid;
            height: 250vh;
            grid-template: 150px 150px 1fr 100px 3fr 150px/1fr 900px 1fr;

            background-color: beige;
        }


        .nav {
            z-index: 1;
            grid-area: 1/1/1/4;
            background-color: #faf0a4;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;

        }

        .splash {
            background-color: #455186;
            grid-area: 2/1/4/4;
            order: 2;
        }





        .splashInfo {
            grid-area: 3/2/5/2;
            background: rgba(39, 165, 221, 0.7);
            z-index: 1;
        }



        .splashInfo p {
            color: #ffffff;
        }

        .main {
            background-color: #de3656;
            grid-area: 4/1/6/4;
            order: 2;

        }

        .containerMain {
            display: grid;
            height: 100%;
            grid-gap: 3rem;
            grid-template: 100px 100px 450px 500px 1fr/ 1fr 450px 450px 450px 1fr

        }

        .mainHeadline{
            grid-area: 2/2/2/2;
        }

        .content1 {
            grid-area: 3/3/3/2;
            background-color: #ebc440;
        }

        .content2 {
            grid-area: 3/3/3/3;
            background-color: #47eb40;
        }

        .content3 {
            grid-area: 3/4/3/4;
            background-color: #18ffff;
        }

        .content4 {
            grid-area: 4/2/4/5;
            background-color: #442f7c;
        }


        .footer {
            z-index: 0;
            background-color: #413b41;
            grid-area: 6/1/6/4;
            order: 2;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

@media only screen and (max-width: 1280px) {

    .nav {
            z-index: 1;
            grid-area: 1/1/1/4;
            background-color: #ffe419;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;

        }

    .containerMain {
            display: grid;
            height: 100%;
            grid-gap: 1rem;
            grid-template: 100px 100px 350px 500px 1fr/ 0.2fr 3fr 3fr 3fr 0.2fr

        }

     .container {
            display: grid;
            height: 250vh;
            grid-template: 150px 150px 1fr 100px 3fr 150px/1fr 700px 1fr;

            background-color: beige;
        }

}

@media only screen and (max-width: 767px) {

        .nav {
            z-index: 1;
            grid-area: 1/1/1/4;
            background-color: #5dd129;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;

        }

        .container {
            display: grid;
            height: 370vh;
            grid-template: 150px 200px 0.5fr 100px 1.5fr 150px/1fr;

            background-color: beige;
        }

        .splashInfo {
            grid-area: 3/1/5/4;
            background: rgba(39, 165, 221, 0.7);
            z-index: 1;
        }

        .main {
            background-color: #de3656;
            grid-area: 4/1/6/4;
            order: 2;

        }



        .containerMain {
            display: grid;
            height: 100%;
            margin: 1rem;
            grid-gap: 1rem;

            grid-template:  170px 1fr 1fr 1fr 1.5fr/ 1fr

        }

        .mainHeadline{
        grid-area: 1/1/1/1;
        visibility: collapse;
        }

        .content1 {

            grid-area: 2/1/2/1;
            background-color: #ebc440;
        }

        .content2 {
            grid-area: 3/1/3/1;
            background-color: #47eb40;
        }

        .content3 {
            grid-area: 4/1/4/1;
            background-color: #18ffff;
        }

        .content4 {
            grid-area: 5/1/5/1;
            background-color: #442f7c;
            margin-bottom: 2rem
        }




        .footer {
            z-index: 0;
            background-color: #413b41;
            grid-area: 6/1/6/4;
            order: 2;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

}


